# Общие настройки
APP_ENV=local

# Auth Service
AUTH_CONFIG_PATH=config/localConfig.yaml
#localhost
AUTH_SERVICE_HOST=auth_service
AUTH_SERVICE_PORT=50051
#localhost
AUTH_DB_HOST=pg_service_auth
# 5434
AUTH_DB_PORT=5432
AUTH_DB_USER=authAdminUser
AUTH_DB_PASSWORD=authAdminUserPassword
AUTH_DB_NAME=authDB

# JWT
JWT_SECRET=tEsTjWtSeCrEt
JWT_TTL=1h
JWT_REFRESH_TTL=24h

# Redis
#localhost
REDIS_HOST=redis_service
REDIS_PORT=6379
REDIS_PASSWORD=

# Wishlist Service
WISHLIST_CONFIG_PATH=config/localConfig.yaml
#localhost
WISHLIST_SERVICE_HOST=wishlist_service
WISHLIST_SERVICE_PORT=50052
#localhost
WISHLIST_DB_HOST=pg_service_wishlist
# 5433
WISHLIST_DB_PORT=5432
WISHLIST_DB_USER=wishlistAdminUser
WISHLIST_DB_PASSWORD=wishlistPWD
WISHLIST_DB_NAME=wishlistDB

# Kafka
#localhost kafka
KAFKA_BROKER_URL=kafka
KAFKA_BROKER_PORT=9092
KAFKA_BROKER_CONSUMER_PORT=9093
KAFKA_TOPIC_WISHLIST_EVENTS=wishlist_events
KAFKA_GROUP_ID=notification_group
KAFKA_UI_PORT=8077

# API GATEWAY
API_GATEWAY_CONFIG_PATH=config/localConfig.yaml
#localhost
API_GATEWAY_HTTP_ADRESS=api_gateway_service
API_GATEWAY_HTTP_PORT=8095
API_GATEWAY_HTTP_TIMEOUT=5s

# CORS
ALLOWED_ORIGINS=http://localhost:8095
#,OPTIONS
ALLOWED_METHODS=GET,POST,PUT,DELETE
ALLOWED_HEADERS=Content-Type,Authorization,X-Trace-ID
CORS_ALLOW_CREDENTIALS=true

# Rate limiting
RATE_LIMIT_REQUESTS=100
RATE_LIMIT_DURATION=60s


# Notification Service
NOTIFY_CONFIG_PATH=config/localConfig.yaml
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=#User from mailtrap.io
SMTP_PASSWORD=#Pwd from mailtrap.io
SMTP_FROM=notifications@wishlist.app

# Log Bull #localhost logbull
LOGBULL_URL=logbull
LOGBULL_PORT=4005
# Необходимо при первом запуске войти на http://localhost:4005 и создать проект, его id записываем тут
LOGBULL_PROJECT_ID=ac495a34-9ab4-4742-b2e2-833642611d42
LOGBULL_API_KEY=""

# WEB_CLIENT
WEB_CLIENT_CONFIG_PATH=config/localConfig.yaml
WEB_CLIENT_HOST=localhost
WEB_CLIENT_PORT=8088
WEB_CLIENT_HTTP_TIMEOUT=5s
WEB_CLIENT_SECRET=WeBcLiEnTsEcReT
WEB_CLIENT_WISHLIST_API_URL=api/v1
